:root{
   --primary-bg-clr:#181818;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #181818;
    color: #ffffff;
}
.container{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    height: 100%;
 
}


/* working with the sidebar */
.sidebar{
    /* background-color: black; */
    box-shadow: 5px 5px 10px 5px black;
    grid-row: span 2;
    padding: 20px;
    border-radius: 10px;
}
.sidebar-column-container{
    display: flex;
    gap: 5px;
  

}
.sidebar-one{
    /* background-color:#AE445A; */
    border-radius: 50px;
    border: none;
}
.sidebar-two{
    flex: 2;
    background-color: var(--primary-bg-clr);
    padding: 20px;
    color: white;
}

.sidebar-headings{
    padding: 20px;
    font-size: 1.5rem;
}
.sidebar-details{
    padding: 20px;
    position: relative;
}
.sidebar-details li{
    padding-top: 20px;
    list-style-type: none;
    font-size: 2.0rem;
    color: #DA0C81;
}

#notification{
   padding-top: 100px;
    
}


.main-one{
    box-shadow: 5px 5px 10px 5px black;
    border-radius: 10px;
    padding: 20px;
    /* background-color: var(--primary-bg-clr); */
    grid-column-start: 2;
    grid-column-end: 6;
    margin: 10px;
}
.main-two{
    /* background-color: var(--primary-bg-clr); */
    grid-column-start: 2;
    grid-column-end: 6;
    box-shadow: 5px 5px 10px 5px black;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}











.user-input{
    
}
.myInput{
    text-align: center;
}