:root{
   --primary-bg-clr:#181818;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #181818;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  
 
}


/* working with the sidebar */
.sidebar{
    /* background-color: black; */
    box-shadow: 5px 5px 10px 5px black;
    grid-row: span 2;
    padding: 20px;
    border-radius: 10px;
}
.sidebar-column-container{
    display: flex;
    gap: 5px;
  

}
.sidebar-one{
    box-shadow: 5px 5px 10px 5px black;
    border-radius: 40px;
    margin-right: 20px;
    border: none;
}
.sidebar-two{
    flex: 2;
    background-color: var(--primary-bg-clr);
    padding: 20px;
    color: white;
}

.sidebar-headings{
    padding-top: 20px;
    text-align: center;
    color: #d81159;
   
}
.sidebar-headings i{
    font-size: 2.5rem;
    padding-bottom: 10px;
    color: #edf6f9;
}
.sidebar-details{
    padding: 20px;
    position: relative;
}

.sidebar-details li{
    padding-top: 20px;
    list-style-type: none;
    font-size: 1.7rem;
    color: turquoise;
    cursor: pointer;
}

#notification{
   padding-top: 100px;
    
}

.user-input input{
    padding: 10px 30px 10px 30px;
    border: none;
    outline: none;
    background-color: #413839;
    border-radius: 10px;
    color: turquoise;
    margin-top: 10px;

     
}
.user-input input:focus{
    outline:1px solid  aqua;
}
.user-input>label{
   text-align: center;
   color: #f5f5f5;
}
.myInput{
    /* text-align: center; */
}

.location-container{
    margin-top: 20px;
    display: flex;
    gap: 5px;
   
}
.location-details{
/* background-color: green; */
padding: 10px;
}
.weather-details{
    /* background-color: turquoise; */
    /* padding: 20px; */
    color: aqua;

}
.mYminmax{
    color: #d81159;
    font-weight: bold;
    font-size: 2.5rem;
}

.image-icon{
    margin-right: 10px;


}
.image-icon span{
    padding-left: 10px;
    color: aqua;
   
}
.longLat-details{
    padding-top: 50px;
}
.longLat-details p{
    color: aqua;
    font-size: 1.5rem;
    font-weight: bold;
}
.longLat-details span{
    color: #d81159;
}

.main-one{
    box-shadow: 5px 5px 10px 5px turquoise;
    border-radius: 10px;
    padding: 20px;
    grid-column-start: 2;
    grid-column-end: 6;
    margin: 10px;
}
.row-one, .row-three{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.one i{
    font-size: 2rem;
   

}
.one p{
    padding-bottom: 20px;
}
.one span{
    color: #d81159;
}

.row-two{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    font-weight: bold;
}
.row-three{

}




.main-two{
    background-image: url("../ASSETS/image3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-column-end: 6;
    box-shadow: 5px 5px 10px 5px black;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
   
}











